<div class='header'>
    <app-navbar></app-navbar>
</div>

<body class='perfil-service-body'>
<div class='row justify-content-center'>
<div class="col-md-auto mt-10">
	<div class="card" style="width: 18rem;">
  	<div class="card-body">
    	<h5 class="card-title">Ricardo M. - Desenvolvedor </h5>
    		<p class="card-text">Desenvolvedor web com habilidades em Javasript, Angular, CSS</p>
  	</div>
  		<ul class="list-group list-group-flush">
    		<li class="list-group-item">Função: Programador</li>
    		<li class="list-group-item">Cidade: Brasilia DF - Recanto das Emas </li>
    		<li class="list-group-item">Disponibilidade: Vespertina </li>
  		</ul>
  <div class="card-body">
    	<a href="#" class="card-link">Chat</a>
    	<a href="#" class="card-link">Avaliações</a>
  </div>
</div>
</div>


<!-- <div class="row mt-3">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Desenvolvedor Mobile</h5>
        <p class="card-text">Desenvolvimento de projeto de hardware e software para sistemas embarcados (Raspberry Pi), além de suporte para acadêmicos na parte de redes, software e hardware.</p>
        <a href="#" class="btn btn-primary">Visitar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Desenvolvedor web</h5>
        <p class="card-text">Manutenção e suporte para projetos de games desenvolvidos na ferramenta Unity para Android e iOS</p>
        <a href="#" class="btn btn-primary">Visitar</a>
      </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Suporte </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Visitar</a>
      </div>
    </div>
  </div>
      <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Conserto de micros</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Visitar</a>
      </div>
    </div>
  </div>
</div> -->
</div>