<div class='header'>
    <app-navbar></app-navbar>
</div>
<body>
<div class='container'>
    <div class='row justify-content-md-center'>
        <div class='col-md-auto mt-10'>
            <h1> Desenvolvimento </h1>
            <hr class='custom-hr'>
        </div>
    </div>
    <div class='row justify-content-md-center'>
        <div class='col-md-6 mt-2' *ngFor='let service of services'>
            <div class='card text-center h-100'>
                <div class='card-header'>
                    {{service.title}}
                </div>
                <div class='card-body'>
                    <p class='card-text text-left'>
                        {{service.desc}}
                    </p>
                    <button class='btn btn-primary' 
                        routerLink="/service/{{service.ownerId}}/{{service.serviceId}}"> 
                        Conferir! 
                    </button>
                </div>
                <div class='card-footer bg-danger text-white'>
                    <div class='float-left'>
                        Preço/h: R$ {{service.price}}
                    </div>
                    <div class='float-right'>
                        {{service.hearts}} <i class="fas fa-heart fa-1x ml-1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>