body {
	font-family: arial;
	background:  inherit;
}

.white-hr {
	background: #ffffff;
}

.custom-hr {
	border: 1px solid white;
}

.card {
	color: black;
}

.header {
	position: fixed;
	width: 100%;
	z-index:9;
}

.header{
	top:0px;
}

.mt-10 {
	margin-top: 100px;
}

html, body, app-root {
	height: 100%;
	margin: 0;
}