<html xmlns="http://www.w3.org/1999/xhtml">
<div class='header'>
    <app-navbar></app-navbar>
</div>
<div id="fullpage">
    <div class="section">
        <div class='container-fluid'>
            <div class='row justify-content-md-center'>
            	<div class='col-md-auto'>
            		<h1> Procure o melhor serviço para você!  </h1>
            	</div>
            </div>
            <div class='row justify-content-md-center'>
                <div class='col-md-auto'>
                    <p>Arraste a tela para baixo para ver os servições mais recomendados.</p>
                </div>
            </div>
            <div class='row justify-content-md-center'>
                <div class='col-md-auto footer'>
                    <img id='arrow' src='../../assets/seta.png'> 
                </div>
            </div>
        </div>
    </div>
    <!-- Desenvolvimento -->
    <div class="section">
        <div class='container'>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <h1> Desenvolvimento </h1>
                    <hr class='custom-hr'>
                </div>
            </div>
            <div class='row justify-content-md-center'>
                <div class='col-md-4 mt-2' *ngFor='let developer of developers'>
                    <div class='card text-center'>
                        <div class='card-header'>
                            {{developer.userName}}
                        </div>
                        <div class='card-body'>
                            <p class='card-text'>
                                {{developer.desc}}
                            </p>
                            <button class='btn btn-primary'> Conferir! </button>
                        </div>
                        <div class='card-footer text-muted'>
                            Recomendações: {{developer.votes}}
                        </div>
                    </div>
                </div>
            </div>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <button class='btn btn-light btn-lg' style='color: #0798ec'> Mais opções! </button>
                </div>
            </div>
        </div>
    </div>  
    <!-- Suporte -->
    <div class="section">
        <div class='container'>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <h1> Suporte </h1>
                    <hr class='custom-hr'>
                </div>
            </div>
            <div class='row justify-content-md-center'>
                <div class='col-md-4 mt-2' *ngFor='let support of supports'>
                    <div class='card text-center'>
                        <div class='card-header'>
                            {{support.userName}}
                        </div>
                        <div class='card-body'>
                            <p class='card-text'>
                                {{support.desc}}
                            </p>
                            <button class='btn btn-primary'> Conferir! </button>
                        </div>
                        <div class='card-footer text-muted'>
                            Recomendações: {{support.votes}}
                        </div>
                    </div>
                </div>
            </div>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <button class='btn btn-light btn-lg' style='color: #ff5f45'> Mais opções! </button>
                </div>
            </div>
        </div>
    </div>  
</div>
</html>