<html xmlns="http://www.w3.org/1999/xhtml">
<div class='header'>
    <app-navbar></app-navbar>
</div>
<div id="fullpage">
    <div class="section">
        <div class='container-fluid'>
            <div class='row justify-content-md-center'>
            	<div class='col-md-auto'>
            		<h1> Procure o melhor serviço para você!  </h1>
            	</div>
            </div>
            <div class='row justify-content-md-center'>
                <div class='col-md-auto'>
                    <p>Arraste a tela para baixo para ver os servições mais recomendados.</p>
                </div>
            </div>
            <div class='row justify-content-md-center'>
                <div class='col-md-auto footer'>
                    <img id='arrow' src='../../assets/seta.png'> 
                </div>
            </div>
        </div>
    </div>
    <!-- Desenvolvimento -->
    <div class="section">
        <div class='container'>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <h1> Desenvolvimento </h1>
                    <hr class='custom-hr'>
                </div>
            </div>
            <div class='row justify-content-md-center'>
                <div class='col-md-6 mt-2' *ngFor='let developerService of developerServices | slice:0:4'>
                    <div class='card text-center'>
                        <div class='card-header'>
                            {{developerService.title}}
                        </div>
                        <div class='card-body'>
                            <p class='card-text text-left'>
                                {{developerService.desc}}
                            </p>
                            <button class='btn btn-primary' 
                                routerLink="/service/{{developerService.ownerId}}/{{developerService.serviceId}}"> 
                                Conferir! 
                            </button>
                        </div>
                        <div class='card-footer bg-danger text-white'>
                            <div class='float-left'>
                                Preço/h: R$ {{developerService.price}}
                            </div>
                            <div class='float-right'>
                                {{developerService.hearts}} <i class="fas fa-heart fa-1x ml-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <a href="/more-service">
                    <button class='btn btn-light btn-lg' style='color: #0798ec'> Mais opções! </button></a>  
                </div>
            </div>
        </div>
    </div>  

    <!-- Suporte -->
    <div class="section">
        <div class='container'>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <h1> Suporte </h1>
                    <hr class='custom-hr'>
                </div>
            </div>
            <div class='row justify-content-md-center'>
                <div class='col-md-4 mt-2' *ngFor='let supportService of supportServices | slice:0:4'>
                    <div class='card text-center'>
                        <div class='card-header'>
                            {{supportService.title}}
                        </div>
                        <div class='card-body'>
                            <p class='card-text text-left'>
                                {{supportService.desc}}
                            </p>
                            <button class='btn btn-primary'> Conferir! </button>
                        </div>
                        <div class='card-footer bg-danger text-white'>
                            <div class='float-left'>
                                Preço/h: R$ {{supportService.price}}
                            </div>
                            <div class='float-right'>
                                {{supportService.hearts}} <i class="fas fa-heart fa-1x ml-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <a href="/more-service">
                    <button class='btn btn-light btn-lg' style='color: #ff5f45'> Mais opções! </button>
                    </a>
                </div>
            </div>
        </div>
    </div> 

    <!-- Conserto -->
    <div class="section">
        <div class='container'>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <h1> Conserto </h1>
                    <hr class='custom-hr'>
                </div>
            </div>
            <div class='row justify-content-md-center'>
                <div class='col-md-4 mt-2' *ngFor='let repairmanService of repairmanServices | slice:0:4'>
                    <div class='card text-center'>
                        <div class='card-header'>
                            {{repairmanService.title}}
                        </div>
                        <div class='card-body'>
                            <p class='card-text text-left'>
                                {{repairmanService.desc}}
                            </p>
                            <a href='/perfilService'>
                                <button class='btn btn-primary'> 
                                    Conferir! 
                                </button>
                            </a>
                        </div>
                        <div class='card-footer bg-danger text-white'>
                            <div class='float-left'>
                                Preço/h: R$ {{repairmanService.price}}
                            </div>
                            <div class='float-right'>
                                {{repairmanService.hearts}} <i class="fas fa-heart fa-1x ml-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <button class='btn btn-light btn-lg' style='color: #7e8f7c'> Mais opções! </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edição -->
    <div class="section">
        <div class='container'>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <h1> Edição </h1>
                    <hr class='custom-hr'>
                </div>
            </div>
            <div class='row justify-content-md-center'>
                <div class='col-md-4 mt-2' *ngFor='let editorService of editorServices | slice:0:4'>
                    <div class='card text-center'>
                        <div class='card-header'>
                            {{editorService.title}}
                        </div>
                        <div class='card-body'>
                            <p class='card-text text-left'>
                                {{editorService.desc}}
                            </p>
                            <a href='/perfilService'>
                                <button class='btn btn-primary'> 
                                    Conferir! 
                                </button>
                            </a>
                        </div>
                        <div class='card-footer bg-danger text-white'>
                            <div class='float-left'>
                                Preço/h: R$ {{editorService.price}}
                            </div>
                            <div class='float-right'>
                                {{editorService.hearts}} <i class="fas fa-heart fa-1x ml-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row justify-content-md-center mt-5'>
                <div class='col-md-auto'>
                    <button class='btn btn-light btn-lg' style='color: #fec401'> Mais opções! </button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>